<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta data -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/delete-confirm.css" />
    <!-- Title -->
    <title>TodoList | Delete confirm</title>
  </head>
  <body>
    <!-- Container -->
    <div class="container">
      <!-- Header -->
      <header>
        <h1>TODOLIST</h1>
      </header>
      <h3>Are you sure to delete this task?</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure veniam a
        voluptatibus fugiat facilis sit aliquid suscipit quisquam nulla.
        Recusandae distinctio, consequuntur aperiam harum culpa non nam possimus
        necessitatibus facilis.
      </p>
      <form action="" method="post">
        <a href="">NO</a>
        <button type="submit">YES</button>
      </form>
    </div>
  </body>
</html>
