<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta data -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/index.css" />
    <!-- Title -->
    <title>TodoList</title>
  </head>
  <body>
    <!-- Container -->
    <div class="container">
      <!-- Header -->
      <header>
        <h1>TODOLIST</h1>
        <ul class="actions">
          <li class="add-todo"><a href="">Add Todo</a></li>
          <li class="sign-out"><a href="">Sign out</a></li>
        </ul>
      </header>
      <h3>There's no task!</h3>
      <p>Click <span>Add Todo</span> to add a task.</p>
      <ol>
        <li>
          <span class="created-at">Created at 2024.06.08</span>
          <p class="">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore,
            dolores sunt nostrum deserunt molestiae omnis expedita odit
            mollitia. Possimus doloribus non amet mollitia blanditiis ut iure,
            placeat nisi eligendi autem?
          </p>
          <ul>
            <li>
              <a class="done" href="">done</a>
            </li>
            <li>
              <a class="edit" href="">edit</a>
            </li>
            <li>
              <a class="delete" href="">delete</a>
            </li>
          </ul>
        </li>
        <li>
          <span class="created-at">Created at 2024.06.08</span>
          <p class="">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore,
            dolores sunt nostrum deserunt molestiae omnis expedita odit
            mollitia. Possimus doloribus non amet mollitia blanditiis ut iure,
            placeat nisi eligendi autem?
          </p>
          <ul>
            <li>
              <a class="done" href="">done</a>
            </li>
            <li>
              <a class="edit" href="">edit</a>
            </li>
            <li>
              <a class="delete" href="">delete</a>
            </li>
          </ul>
        </li>
      </ol>
    </div>
  </body>
</html>
