<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Meta data -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/global.css" th:href="@{/css/global.css}" />
    <link rel="stylesheet" href="../static/css/authentication.css" th:href="@{/css/authentication.css}" />
    <!-- Title -->
    <title>TodoList | Sign-up</title>
  </head>
  <body>
    <!-- Container -->
    <div class="container">
      <!-- Form -->
      <form action="" method="post">
        <h1>Sign up</h1>
        <label for="email">Email</label>
        <input required type="email" name="" id="email" />
        <label for="username">Username</label>
        <input required type="text" name="" id="username" />
        <label for="password">Password</label>
        <input required type="password" name="" id="password" />
        <label for="password-check">Password check</label>
        <input required type="password" name="" id="password-check" />
        <button type="submit">Sign up</button>
        <a class="dismiss" th:href="@{/signin}">Back</a>
      </form>
    </div>
  </body>
</html>
